@media only screen and (max-width: 58.375em) {

  .container,
  .container2 {
    width: 80%;
  }


}

@media only screen and (max-width: 46.625em) {



  .input,
  .upload,
  textarea {
    width: 80%;
  }

  .input:focus,
  .upload:focus {
    width: 83%;
  }

  .about {
    padding: 0 3rem;
  }
}


@media only screen and (max-width: 32.4375em) {

  .input,
  .upload,
  textarea {
    width: 86%;
  }

  .input:focus,
  .upload:focus {
    width: 90%;
  }


  .container2 {
    width: 90%;
  }

  .about {
    padding: 0 2rem;
  }

  .social-presence {
    justify-content: space-between;
    padding: 1rem;
  }

  .handle {
    flex-direction: column;
    justify-content: space-between;
    font-size: .7rem;
  }

  .handle i {
    margin-right: 0rem;
    margin-bottom: .5rem;
  }

  .download {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 1rem;
  }
}